@using prototypedb;
@model Timetable;
@{
    ViewData["Title"] = "Home Page";
 }


<!DOCTYPE html>
<html>
    <head>
      <style type="text/css">
            TABLE {
            width: 300px; 
            border-collapse: collapse;
           }
           TD, TH {
            padding: 3px; 
            border: 1px solid black;
           }
           TH {
            background: #b0e0e6;
           }
      </style>
    </head>
    <body>

    <form method="post" action="~/Home/Week">
        <select name="week">
            <option value="Past">Прошлая</option>
            <option value="Now">Эта</option>
            <option value="Next">Следующая</option>
        </select
         <p>
        <input type="submit" value="Отправить" />
         </p>
    </form>
        
    <div class="text-center">
       
        @for(int day = 1 ;day<=6;day++)
            {
              <table>
                @for(int subj = 1;subj<=6;subj++)
                {
                    Subject subject = Model.ExistenceCheck(day, subj,Model);
                    <tr>

                        <td>@Html.DisplayFor(modelItem => subject.Name_subject_id)</td>
                        <td>@subject.Homework</td>
                        <td>
                            @Html.ActionLink("Редактировать", "Edit", new { date = subject.Date_first_day_of_week,
                    place_in_week = subject.Place_in_week,
                    place_in_day = subject.Place_in_day,
                    grade_id = subject.Grade_id }  );
                        </td>
                    </tr>
                }
              </table>
            }
    </div>
    </body>
</html>


